/**
 * -------------------------------------------------------------------------------------------------
 * Reset (Inspired by E. Meyers)
 * As it says this will reset all the default settings a browser uses. This is not essential, 
 * but can help reducing the inconsistencies between the handling of the same HTML element by 
 * different browsers.
 * -------------------------------------------------------------------------------------------------
 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }
nav ul { list-style: none; }
blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

/**
 * -------------------------------------------------------------
 * Site settings
 * ------------------------------------------------------------- */

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', Verdana, sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 1.5;
	background: #fff;
  
	/*
	You can use rgb values to set the colour of something. It take three values: red, green and blue.
	Black is rgb(0, 0, 0) and white is rgb(256, 256, 256). Any other colour can be made by using values 
	between 0 and 256. 
	
	If you want a transparent version of your colour, you can use rgba. This takes a fourth value which
	is amount of transparancy you want. The value shoulb be between 0 and 1.
	*/
	color: rgba(256, 256, 256, 0.7);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/**
 * -------------------------------------------------------------
 * Background image
 * ------------------------------------------------------------- */

body {
	background-image: url('../images/palm-02.jpg');
	background-repeat: no-repeat;
	background-position: left top;
	
	/*
	The two main values background-size can take are cover and contain.
	
	Cover will scale the background image to be as large as possible so that the background area 
	is completely covered by the background image. Some parts of the background image may not be 
	in view within the background positioning area.
	
	Contain will scale the image to the largest size such that both its width and its height 
	can fit inside the content area
	*/
	background-size: cover;

	/*
	vh stands for "viewport height". 
	Giving the image a vh of 100 means the height will stretch 100% of the available viewport height. 
	In other words, all the way to the bottom of the wallpaper div.
	*/
	height: 100vh;
}

/**
 * -------------------------------------------------------------
 * Page content
 * ------------------------------------------------------------- */

.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 5em 0;
}

article {
	padding: 2em;
	background-color: rgba(0, 0, 0, 0.3);
}

h1 {
  	font-size: 24px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 2em;
}

p {
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 1em;
}

/**
 * -------------------------------------------------------------
 * Media queries 
 * To change styles between different viewport widths.
 * ------------------------------------------------------------- */

@media screen and ( min-width: 600px ) {
	
	.wrapper {
		width: 70%;
		max-width: 1024px;
		
		/* Seting up the vertical centering of the wrapper div using flexbox.  */
		display: flex;
		align-items: center;
		height: 100vh;
		margin: auto;
		padding: 0;
	}

	h1 { font-size: 32px; }
	p { font-size: 18px; }
}